<section data-ng-controller="HomeController" data-ng-init="findFutureCampaigns()">
    <div class="page-header">
        <h1>PAPS ?!</h1>
    </div>
    <section>
        <p class="lead">
            Bienvenue sur le site du PAPS v2.0, le site qui va sauver ta touche F5.
        </p>
        <p>
            Tu souhaites organiser un PAPS sans voir ta boîte mail exploser ? Tu veux papser plus vite que ton ombre sans devoir ouvrir une vingtaine d'onglets ? Ce site est fait pour toi.
        </p>
        <p>
            Avec PAPS v2.0, plus besoin de marteler la touche F5, la page se met automatiquement à jour lorsque le PAPS commence. Si tu aimes papser dans les règles de l'art ce site est fait pour toi !
        </p>
    </section>
</section>