<section data-ng-controller="CampaignsController" data-ng-init="findFullOne()">
	
    <div class="page-header">
        <h1>
            Récapitulatif pour {{campaign.name}}
            <br/>
            <small>{{campaign.description}}</small>
        </h1>
    </div>

    <section>
        <p><b>Max</b> : {{campaign.max}}</p>
        <p><b>PAPS Secret</b> : {{campaign.secret ? 'Oui' : 'Non'}}</p>
        <p><b>Heure du PAPS</b> : {{campaign.start}}</p>
        <p><b>Fin du PAPS</b> : {{campaign.end}}</p>
        <br/>

        <p><b>Page du PAPS</b> : <a ng-href="#!/campaigns/{{campaign._id}}/paps">Ici</a></p>

        <p>Les créneaux papsables sont : </p>
        <table class="table-condensed table-bordered table">
            <tr class="info">
                <th>Nom</th>
                <th>Créneau</th>
                <th>Quantité</th>
            </tr>
            <tr ng-repeat="item in campaign.papsables">
                <td>{{item.object.name}}</td>
                <td>{{item.slot}}</td>
                <td>{{item.amount}}</td>
            </tr>
        </table>

        <p>Les créneaux papsés sont :</p>

        <table class="table-condensed table-bordered table">
            <tr class="info">
                <th>Nom</th>
                <th>Créneau</th>
                <th>Quantité</th>
                <th>Utilisateur</th>
            </tr>
            <tr ng-repeat="item in papseds">
                <td>{{item.object.name}}</td>
                <td>{{item.slot}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.user.displayName}}</td>
            </tr>
        </table>


</section>