<section data-ng-controller="CampaignsController" data-ng-init="findOne();findPapsables()">
    <div class="page-header">
        <h1>Edit Campaign</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="campaign.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea data-ng-model="campaign.description" id="description" class="form-control" placeholder="Description" required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="start">Start</label>
                    <div class="controls">
                        <input autocomplete="off" type="date" data-ng-model="campaign.start" id="start" class="form-control" placeholder="Start" ng-click="hideCalendar =  false " required>
                        <datetimepicker data-on-set-time="onTimeSet" ng-hide="hideCalendar" data-ng-model="campaign.start"></datetimepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="end">End</label>
                    <div class="controls">
                        <input autocomplete="off" type="date" data-ng-model="campaign.end" id="end" class="form-control" placeholder="End" ng-click="hideCalendar =  false " required>
                        <datetimepicker data-on-set-time="onTimeSet" ng-hide="hideCalendar" data-ng-model="campaign.end"></datetimepicker>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="campaign.secret" > Privé
                        </label>
                    </div>
                </div>
                <div ng-repeat="item in campaign.papsables" class="form-group">
                   <select ng name="papsables" class="form-control" data-ng-model="item.object._id" data-ng-options="papsable._id as papsable.name for papsable in papsables" id="papsables">
                    <option value="">Choose Papsable</option>
                    </select>
                    <select name="slot" class="form-control" data-ng-model="item.slot", data-ng-options="slot for slot in slots[item.object._id]"></select>
                    <input type="number" data-ng-model="item.amount" id="amount" class="form-control" placeholder="Amount" required>
                    <input type="number" data-ng-model="item.max" id="max" class="form-control" placeholder="Maximum" required>
                </div>
                <a ng-click="campaignPapsables.push({object: '', amount: '', slot: null, max: 0})">+</a>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong>{{error}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>