<section data-ng-controller="CampaignsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{campaign.name}}</h1>
	</div>
	<section>
		<p><b>Description</b> : {{campaign.description}}</p>
		<p><b>PAPS Secret</b> : {{campaign.secret ? 'Oui' : 'Non'}}</p>
		<p><b>Heure du PAPS</b> : {{campaign.start}}</p>
		<p><b>Fin du PAPS</b> : {{campaign.end}}</p>
		<br/>

		<p><b>Page du PAPS</b> : <a ng-href="#!/campaigns/{{campaign._id}}/paps">Ici</a></p>

		<br/>
		<h4>Objets à papser</h4>
		<table class="table-condensed table-bordered table">
			<tr>
				<th>Nom</th>
				<th>Créneau</th>
				<th>Quantité</th>
				<th>Maximum</th>
			</tr>
			<tr ng-repeat="item in campaign.papsables">
				<td>{{item.object.name}}</td>
				<td>{{item.slot}}</td>
				<td>{{item.amount}}</td>
				<td>{{item.max}}</td>
			</tr>
		</table>
	</section>
	<div class="pull-right" data-ng-show="authentication.user._id == campaign.user._id">
		<a class="btn btn-primary" href="/#!/campaigns/{{campaign._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{campaign.created | date:'mediumDate'}} by {{campaign.user.displayName}}</em>
	</small>
</section>